// Custom Dropdown styling

.dropdown-toggle{

  [contenteditable]{

    &:focus-visible, &:focus{

      border:none;
      outline: none;

    }

  }

}

.dropdown-menu{

  [data-search-block]{

    &.selected{
      display: none;
    }

  }

}