// Tags / Badge related style


.tag{

  position: relative;
  padding: .8rem 3.2rem .8rem 1.25rem;
  display: inline-block;
  pointer-events: none;

  // Close logo
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    background: transparent url("../../dist/img/close-btn.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    height: 20px;
    width: 20px;
    cursor: pointer;
    pointer-events: all;
  }
  
  &::first-letter{
    text-transform: uppercase;
  }

  &.ingredient{
    background: $blue;
  }

  &.appliance{
    background: $green;
  }

  &.ustensil{
    background: $red;
  }

}