// Imports
@import "_partials/vars";
@import "~bootstrap/scss/bootstrap";
// We import custom style after bootstrap to override some style
@import "_partials/text";
@import "_partials/btn";
@import "_partials/tags";
@import "_partials/card";
@import "_partials/dropdown";


// Custom Style

// Dropdown

#tags-container{

  .dropdown-toggle{

    position: relative;
    width: 100%;

    &::after{
      border: none !important;
      font: normal normal normal 1.4rem/1 FontAwesome;
      content: "\f107" !important;
      vertical-align: 0; /* to center vertically */
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}





// Header
.page-header{

  .header-img{
    width: 52px;
  }

  .header-subtitle{
    font-family: "DM Sans", sans-serif;
  }


}

// Searchbar
.searchbar{

  .search-icon{

    font-size: 2rem;

  }

}



// Dropdown Buttons
#tag-btn-container{

  .btn{

    font-size: 1.125rem;
    font-weight: 700;

  }

  .dropdown-menu{

    min-width: 0 !important;
    right: 0 !important;
    left: .1rem !important;
    top: 88% !important;

    &.show{
      transform: none !important;
      width: 99%;
      box-sizing: border-box;
      border: none;
    }

  }



}

// Recipe list
#recipes-container{

  .recipe-line{



  }

}


